# black list
/*
target
**/*.rs.bk
*.temp
logs
tmp
desktop.ini
.DS_Store
.directory
.nomedia
.thumbnails
Thumbs.db*

# white list
!/Cargo.lock
!/Cargo.toml
!/LICENSE
!/Readme.*
!/assets
!/examples
!/scripts
!/src
!/.cargo
!/.rustfmt.toml
